@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,500,600);

html {
	font-size: 16px;
	font-family: "Open Sans", "Sans Serif";
	color: #787878;
}

/***********************************************
 HEADING
 ***********************************************/

 a {
 	text-decoration: none;
 	color: #2786B7;
 }

 img {
 	max-width: 100%;
 }

 #container {
 	max-width: 960px;
 	margin: 0px auto;
 	padding: 0 5%;
 }

 footer {
 	text-align: center;
 	margin: 0 auto;
 	font-size: 0.8em;
 	padding-top: 130px;
 	color: #787878;
 	clear: both;
 }

 #gallery {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }

 #gallery li {
 	float: left;
 	width: 43%;
 	max-width: 331px;
 	margin: 2.3%;
 	background-color: #EEE;
 	color: #6b6b6b;
 	border: 1px solid #CCC;
 }

 #gallery li:nth-child(4) {
 	clear: left;
 }

 #gallery li a p {
 	margin: 0;
 	padding: 5%;
 	font-size: 0.75em;
 	color: #6b6b6b;
 }

 body {
 	background: #F6F6F6;
 }

 body p {
 	font-size: .9em;
 }

 header {
 	background: #44616A;
 	float: left;
 	margin: 0 0 5.5em 0;
 	padding: 5px 0 0 0;
 	width: 100%;
 }

 #logo {
 	text-align: center;
 	margin: 7px 5%;
 }

 h1 {
 	color: #F8F8F8;
 	font-size: 120%;
 	font-weight: 500;
 	letter-spacing: .07rem;
 	font-variant: small-caps;
 }

 h2 {
 	color: #F5f5f5;
	font-size: 130%;
	font-weight: 300;
 }

 h3, h4 { 
	color: #686868;
	margin: 0;
	font-weight: 500;
	font-size: 1.25em;
 }

 nav {
 	background: #18869E;
 	padding: 12px 0;
 	margin: 7px 0 0;
 	text-align: center;
 }

 nav ul {
 	list-style: none;
 	margin: 0 10px;
 	padding: 0;
 }

 nav li {
 	display: inline-block;
 	font-weight: 700;
 	padding: 0 20px;
 	font-size: .85em;
 	font-variant: small-caps;
 	letter-spacing: .5px;
 }

 nav a, nav a:visited {
 	color: #E1E1E1;
 }

 nav a {
 	padding: 15px 10px;
 }

 nav a.active, nav a:hover {
 	color: #B3D4FC;
 	transition: color 200ms ease;
 }

 .social {
 	list-style: none;
	margin-left: -37px;
}

 .social li {
 	display: inline-block;
 	padding: 0 5px;
 }

 .social img:hover {
 	filter: gray; /* IE6-9 */
 	filter: grayscale(1); /* Firefox 35+ */
 	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
 }

 .social img {
 	width: 35px;
 }

#overlay {
	background: rgba(0, 0, 0, .7);
 	width: 100%;
 	height: 100%;
 	top: 0;
 	left: 0;
	position: fixed; /* keeps the lightbox window in the current viewport */
 	display: none;
 	text-align: center;
 }

#overlay img {
	margin-top: 5%;
	max-width: 40%;
}

#overlay p {
	color: #FFF;
}

nav .fa	{
	padding-right: 3px;
}

#contact-info { 
	list-style: none;
	padding: 0;
	margin: 0;
}

#contact .fa {
	color: #838383;
	display: inline;
	min-height: 20px;
	font-size: 20px 20px;
	padding: 0 10px 0 0px;
	margin: 0 0 10px;
}

#contact-info {
	padding-top: 10px;
	line-height: 1.8em;
	list-style: none;
}

.profile-photo {
	display: block;
	clear: both;
	max-width: 150px;
	margin: 0 auto 40px;
	border-radius: 100%;
}


#about-section {
	line-height: 1.8em;
	width: 65%;
	margin: 0 auto;
}

#contact {
	padding: 80px 0;
}
