/* Mobile Styles */
@media only screen and (max-width: 480px) {
	
	#gallery li:nth-child(3) {
		clear: left;
	}

	#gallery li:nth-child(4) {
		clear: right;
	}
	
	nav .fa {
		display: none;
	}

	#logo {
		line-height: .8em;
	}
	
	#contact h3 {
	padding-top: 20px;
	}
	
	nav {
		padding: 4px 0px;
		width: 100%;
	}

	nav ul {
		width: 100%;
		margin: 0;
		padding: 5px 0;
	}

	nav a {
		padding: 0 .7em;
	}

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: .8em;
	}

	#about-section {
		width: 90%;
	}

	#about-section p {
		font-size: .8em;
	}

}

/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 899px) {
	
	#logo {
		line-height: .8em;
	}

	#contact h3 {
		padding-top: 20px;
	}

	#gallery li {
		width: 28.333%;
	}

	#gallery li:nth-child(3) {
		clear: none;
	}

	#gallery li:nth-child(4) {
		clear: left;
	}

	nav {
		padding: 4px 0px;
		width: 100%;
	}

	nav a {
		padding: 0 20px;
	}

	nav ul {
	width: 100%;
	margin: 0;
	padding: 5px 0;
	}

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: .8em;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 900px) {

	#gallery li {
	width: 28.333%;
	}

	nav {
		background: none;
		float: right;
		font-size: 1em;
		text-align: right;
		width: 45%;
		margin: 10px 2%;
	}

	nav li {
		padding: 0 10px;
	}

	nav a {
		font-size: 1em;
	}

	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 40%;
	}

	h1 {
		font-size: 1.2em;
		letter-spacing: .1em;
	}

	h2 {
		display: none;
		font-size: .7em;
	}

	header {
		border-bottom: 2px solid #1F98AB;
		margin-bottom: 5.5em;
	}
}